body, html{
	margin:0;
	font-size: 16px;
	font-family: 'Fraunces', serif;
}
ul, ol{
	list-style: none;
	padding:0;
	margin:0;
}
input:focus, button:focus, textarea:focus{
	outline: none;
}
a:hover,a:focus{
	text-decoration: none;
}
img{
	max-width: 100%;
}
.inner,
.nav-panel ul .nav-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
 @media (max-width: 767px) {

body { font-size: 70%; }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  -webkit-perspective: 3000;
  perspective: 3000;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.wrapper .page {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(180deg) scale(0.3);
  transform: rotateX(180deg) scale(0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  will-change: transform;
}

.wrapper.active-page1 {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.wrapper.active-page1 .page.page1 {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.wrapper.active-page2 {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.wrapper.active-page2 .page.page2 {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.wrapper.active-page3 {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}

.wrapper.active-page3 .page.page3 {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.wrapper.active-page4 {
  -webkit-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  transform: translateY(-300%);
}

.wrapper.active-page4 .page.page4 {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.nav-panel {
  position: fixed;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1000;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  will-change: transform, opacity;
}

.nav-panel.invisible {
  opacity: 0;
  -webkit-transform: translateY(-50%) scale(0.5);
  -ms-transform: translateY(-50%) scale(0.5);
  transform: translateY(-50%) scale(0.5);
}

.nav-panel ul { list-style-type: none; }

.nav-panel ul .nav-btn {
  position: relative;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin-bottom: 0.5em;
  border: 0.12em solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border-color, -webkit-transform 0.3s;
  transition: border-color, transform 0.3s;
  will-change: border-color, transform;
}

.nav-panel ul .nav-btn:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.3);
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.3);
  transform: translateX(-50%) translateY(-50%) scale(0.3);
  background-color: #fff;
  opacity: 0;
  -webkit-transition: -webkit-transform, opacity 0.3s;
  transition: transform, opacity 0.3s;
  will-change: transform, opacity;
}

.nav-panel ul .nav-btn.active:after,
.nav-panel ul .nav-btn:hover:after {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.7);
  transform: translateX(-50%) translateY(-50%) scale(0.7);
  opacity: 1;
}

.nav-panel ul .nav-btn:hover {
  border-color: yellow;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.nav-panel ul .nav-btn:hover:after { background-color: yellow; }

.nav-panel .scroll-btn {
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border: 0.2em solid #fff;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.nav-panel .scroll-btn.up {
  top: -1.6em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-panel .scroll-btn.down {
  bottom: -1.2em;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-panel .scroll-btn:hover { border-color: yellow; }
.nav-section{
    position: relative;
    padding-top: 1rem;
    z-index: 9;
}
.nav-section .logo{
    display: inline-block;
    width: 15rem;
}
.nav-section ul{
    text-align: right;
}
.nav-section ul li a.btn_white{
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    display: inline-block;
    padding: 0 .5rem;
    border: 0.15rem solid black;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
    letter-spacing: -.1rem;
}
.nav-section ul li a.btn_white:hover,.nav-section ul li a.btn_white:focus{
	background-color: black;
	color: white;
}
.nav-section ul li a.nav_open{
    display: inline-block;
}
.nav-section ul li a.nav_open img{
    width: 2rem;
    margin-top: -.25rem;
    margin-left: 1rem;
}
body:before{
    content: '';
    background-image: url(../images/mv_top.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    height: 10rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}
body:after{
    content: '';
    background-image: url(../images/mv_bot.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    height: 13.5rem;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9;
}
.page h3{
    font-size: 2.25rem;
    color: #000000;
    font-weight: 600;
    margin-bottom: 2.75rem;
    letter-spacing: -.1rem
}
.page h3 span{
    font-size: 2.75rem;
}
.page h4{
    font-size: 1.75rem;
    color: #000000;
    margin-bottom: 3.5rem;
    letter-spacing: -.1rem;
}
.page h2{
    font-size: 4rem;
    color: #000000;
    font-weight: 700;
    margin-bottom: .25rem;
    letter-spacing: -.1rem
}
.page h1 {
    font-size: 6.25rem;
    color: #000000;
    font-weight: 400;
}
.page .btn_white{
    color: black;
    font-size: 2rem;
    letter-spacing: -.1rem;
    font-weight: 800;
    display: inline-block;
    padding: 0 .5rem;
    border: 0.15rem solid black;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}
.page .btn_white:hover,.page .btn_white:focus{
	background-color: black;
	color: white;
}
.page3{
	align-items: flex-start;
	padding-top: 10rem;
}
.page3 h3{
    margin-bottom: 5rem;
}
.page3 h3.with_border{
    border-bottom: 0.2rem solid #FFB822;
    display: inline-block;
    float: left;
    padding-bottom: .5rem;
}
.page3 h3.text-right{
    width: 100%;
    display: inline-block;
}
.page3 h3.sm_text{
    text-align: left;
    width: 60%;
}
.page3 h3.sm_text span{
    text-align: center;
    display: inline-block;
}
.col-12{
    position: relative;
}
.product1{
    position: absolute;
    left: 5%;
    bottom: 15%;
    width: 15%;
    z-index: 1;
}
.product2{
    position: absolute;
    right: 0rem;
    bottom: 12.5%;
    width: 30%;
    z-index: 1;
}
.product3{
    position: absolute;
    left: 5%;
    bottom: 15%;
    width: 15%;
    z-index: 1;
}
.product4{
    position: absolute;
    right: 0rem;
    bottom: 15%;
    width: 15%;
    z-index: 1;
}
.text1{
    position: absolute;
    left: 18%;
    width: 30%;
    top: 12%;
    background-image: url(../images/text1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 12%;
}
.menu{
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}
.menu.active{
	bottom: 0;
	visibility: visible;
    opacity: 1;
}
.menu .overlay{
	background-color: #ffffffed;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: inline-block;
    backdrop-filter: blur(4px);
}
.menu .closer{
	position: absolute;
	right: 3rem;
	top: 1rem;
	font-size: 1.5rem;
	color: black;
	cursor: pointer;
}
.menu h4{
    color: black;
    font-size: 1.5rem;
}
.menu hr{
    border-top: 0.15rem solid black;
    width: 2rem;
}
.menu ul li a{
    color: black;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
    margin-top: 1.5rem;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}
.menu ul li a:hover,.menu ul li a:focus{
    color: #F5D554;
}